.header {
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: end;
  justify-content: center;

  &__inner {
    max-width: 1440px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
  }

  &__inner_textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #d4b44f;
  }

  &__text {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #f5efdf;
  }
}
