@mixin sharedListStyles {
  // width: 15rem;
  background-color: rgba(51, 51, 49, 0.8);
  border-radius: 25px;
  padding: 15px;
  padding-left: 30px;
}

.info {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;

  &__sections {
    display: flex;
    justify-content: space-around;
    gap: 5px;
  }

  &__about {
    padding: 5px 5px 15px 5px;

    &_text {
      text-align: start;
      @include sharedListStyles;
      width: 32rem;
      padding: 18px;
    }
  }

  &__title {
    padding-bottom: 6px;
  }

  &__link {
    text-transform: uppercase;
    color: #d4b44f;

    :first-child {
      background-color: transparent;
    }
  }

  &__education {
    &_list {
      @include sharedListStyles;
      width: 100%;
    }

    &_text {
      font-style: italic;
    }

    &_main {
      padding-bottom: 10px;
    }
    padding-bottom: 15px;
  }

  &__certificatelist {
    list-style-type: none;
    display: flex;
    gap: 40px;
  }

  &__skills {
    &_list {
      @include sharedListStyles;
    }
    padding-bottom: 10px;
  }

  &__languages {
    &_list {
      @include sharedListStyles;
    }
    padding-bottom: 10px;
  }

  &__contacts {
    &_list {
      @include sharedListStyles;
    }
    padding-bottom: 10px;

    &_link {
      :hover {
        color: #d4b44f;
      }
    }
  }

  &__more {
    &_box {
      @include sharedListStyles;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 15px;
    }

    &_cv {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
    padding-bottom: 15px;

    &_image {
      transition: all 0.6s ease;
      &:hover {
        transform: scale(1.3);
        transition: all 0.6s ease;
      }
    }

    &_title {
      text-transform: uppercase;
    }
  }
}

.colored {
  color: #f4e6c2;
}
