.socials {
  &__navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }

  &__navitem {
    padding: 0 0.188rem;
    transition: all 0.5s ease;

    &:hover {
      transform: translateY(-5px);
      transition: all 0.5s ease;
    }
  }
}

@media all and (max-width: 1000px) {
  .socials {
    &__navicon {
      width: 5rem;
      height: 5rem;
    }

    &__navlist {
      flex-direction: row !important;
      margin-bottom: 5rem;
    }
  }
}
