.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  color: #d4b44f;
  text-transform: uppercase;
  height: 10vh;
}

.desktopmenu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.desktopmenu li {
  margin-right: 1.25rem;
}

.desktopmenu a {
  text-decoration: none;
  color: #d4b44f;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

@media (orientation: portrait) and (max-width: 850px) {
  .navigation {
    display: none;
  }
}

@media (orientation: portrait) {
  .navigation {
    display: none;
  }
}
