.projects {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 3.125rem 5rem 2.5rem 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.25rem;
}
