@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.mainpage {
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #d4b44f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.8rem;
  z-index: 999;
}

.home {
  padding: 1.25rem;

  &__inner {
    width: 100%;
    height: 80vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__textbox {
    :first-child {
      font-size: 8rem;
    }

    :last-child {
      font-size: 3rem;
    }

    padding-bottom: 2.5rem;
  }

  &__text {
    color: #fff;
  }

  &__button {
    :first-child {
      font-size: 1.5rem;
      width: 11rem;
      background-color: #d4b44f;
      color: #000;
      animation: pulse 2s infinite;
      text-transform: capitalize;
      text-align: center;
    }
  }
}
