@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.mainpage {
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #d4b44f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.8rem;
  z-index: 999;
}

.home {
  padding: 1.25rem;

  &__inner {
    width: 100%;
    height: 80vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__textbox {
    letter-spacing: 0.2rem;
    :first-child {
      font-size: 5rem;
    }

    h1 {
      font-size: 5.5rem;
    }

    :last-child {
      font-size: 3rem;
    }

    padding-bottom: 2.5rem;
  }

  &__text {
    color: #fff;
  }

  &__button {
    :first-child {
      font-size: 1.5rem;
      width: 11rem;
      background-color: #d4b44f;
      color: #000;
      animation: pulse 2s infinite;
      text-transform: capitalize;
      text-align: center;
    }
  }
}

@media (orientation: portrait) and (max-width: 800px) {
  .home {
    &__inner {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &__image_container {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 0.1rem;
      overflow: hidden;
    }

    &__image {
      width: 100%;
      height: auto;
      display: block;
    }

    &__textbox {
      text-align: center;
      padding-bottom: 10rem;
    }

    &__button {
      :first-child {
        font-size: 2.1rem;
        font-weight: bold;
        width: 30rem;
        padding: 3rem;
        border-radius: 10px;
      }

      button {
        span::after {
          content: '';
        }
      }
    }

    &__action {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media all and (max-width: 1400px) {
  .mainpage {
    font-size: 2.3rem;
  }

  .home {
    &__textbox {
      :first-child {
        font-size: 4rem;
      }

      h1 {
        font-size: 4.5rem;
      }

      :last-child {
        font-size: 2.5rem;
      }
    }
  }
}

@media all and (max-width: 1300px) {
  .mainpage {
    font-size: 1.8rem;
  }

  .home {
    &__textbox {
      :first-child {
        font-size: 3rem;
      }

      h1 {
        font-size: 3.5rem;
      }

      :last-child {
        font-size: 2rem;
      }
    }

    &__image_container {
      :first-child {
        width: 21rem;
        height: 27.25rem;
      }
    }
  }
}

@media all and (max-width: 850px) {
  .home {
    &__textbox {
      :first-child {
        font-size: 2.8rem;
      }

      h1 {
        font-size: 3.2rem;
      }

      :last-child {
        font-size: 2rem;
      }
    }
  }
}
