.timeline {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.563rem;

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2.5rem 0.938rem;

    &::after {
      background-color: #d4b44f;
      content: '';
      position: absolute;
      left: calc(50% - 2px);
      width: 0.25rem;
      height: 100%;
    }
  }

  &__item {
    display: flex;
    padding-right: 1.875rem;
    position: relative;
    margin: 0.625rem 0;
    width: 50%;
    justify-content: flex-end;
    text-align: end;
    align-items: end;

    &::after {
      content: '';
      background-color: #fff;
      border: 3px solid #d4b44f;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 10px);
      right: -0.813rem;
      width: 1.25rem;
      height: 1.25rem;
      z-index: 2;
    }

    &:nth-child(odd) {
      justify-content: flex-start;
      text-align: start;
      align-items: start;
      align-self: flex-end;
      justify-content: flex-start;
      padding-left: 1.875rem;
      padding-right: 0;

      &::after {
        content: '';
        left: -0.75rem;
      }
    }

    &:nth-child(even) article {
      flex-direction: row-reverse;
    }
  }
}

@media all and (max-width: 800px) {
  .timeline {
    &__container {
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    &__item {
      width: 100%;
      padding: 1rem;
      align-self: center;
      text-align: start;
      flex-direction: row;
      z-index: 2;

      &:nth-child(even) article {
        flex-direction: row;
      }

      &:nth-child(odd) {
        &::after,
        &::before {
          content: none;
        }
      }

      &::after,
      &::before {
        content: none;
      }
    }
  }
}
