.navbox {
  width: 100%;
  padding: 0.5rem 16rem 11rem 5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media all and (max-width: 500px) {
  .navbox {
    justify-content: center;
    padding: 5rem;
  }
}
