.info {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__columns {
    display: flex;
    justify-content: space-around;
  }
}
