.certificate {
  &__ title {
    font-size: 15px;
    padding-bottom: 10px;
  }

  &__description {
    font-style: italic;
    padding-bottom: 2px;
  }

  &__link {
    text-decoration: solid;
  }
}
