@mixin button {
  max-width: 100%;
  display: inline-block;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  transition: width 0.3s ease;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes desappear {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-300px);
  }
}

.burgermenu {
  display: none;
  background-color: transparent;
  padding: 1rem;

  &__openbutton {
    position: relative;
    top: 0;
    right: 0;
    @include button;
    padding-right: 2rem;
  }

  &__closebutton {
    top: 0;
    right: 0;
    @include button;
  }

  &__icon {
    width: 45px;
    height: 45px;

    transition: all 0.4s ease;

    &:hover {
      transition: all 0.4s ease;
      transform: scale(1.1);
    }
  }
}

.mobilemenu {
  display: none;
  background-color: #000;
  background-image: url(../../assets/background.PNG);
  z-index: 1001;
  padding: 2rem;
  padding-right: 4rem;

  &__buttonbox {
    display: flex;
    flex-direction: column;

    button {
      span::after {
        content: '';
      }
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.visible {
  display: flex;
}

.open {
  position: fixed;
  display: flex;
  align-items: baseline;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  z-index: 9999;
  animation: appear 0.3s ease-in-out;
}

.close {
  animation: desappear 0.3s ease-in-out;
}

.mobilemenu button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobilemenu ul {
  list-style: none;
  padding: 0;
}

.mobilemenu li {
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .burgermenu {
    display: flex;
  }
}

.slideInOpen {
  animation: slideInOpen 0.3s ease-in-out;
}

.slideInClose {
  animation: slideInClose 0.3s ease-in-out;
}

@media (orientation: portrait) {
  .burgermenu {
    display: flex;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .mobilemenu {
    padding: 2rem 1rem 0 1rem;

    &__buttonbox {
      display: flex;
      flex-direction: column;

      button {
        max-width: 50%;
        font-size: 1rem !important;
      }
    }

    .open {
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      visibility: visible;
      width: 100vw;
      height: 100vh;
      padding: 2rem;
      z-index: 9999;
      animation: appear 0.3s ease-in-out;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }
  }

  .burgermenu {
    padding: 0.3rem;
    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}

@media all and (max-width: 1000px) {
  .burgermenu {
    padding: 0.3rem;
    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}
