.flippable_card__container {
  width: 15rem;
  height: 15rem;
  margin: 0;
  padding: 0;
  top: 1.25rem;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;

  &.flipped {
    .flippable_card__front {
      transform: rotateY(180deg);
    }
    .flippable_card__back {
      transform: rotateY(0deg);
    }
  }

  .flippable_card__front,
  .flippable_card__back {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(51, 51, 49, 0.8);
    border-radius: 0.3rem;
    padding: 0.625rem;
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 500ms, transform ease 500ms;
  }

  .flippable_card__front {
    z-index: 2;
    transform: rotateY(0deg);
    padding: 0.938rem;

    &_imagebox {
      border-radius: 0.625rem;
      background-color: transparent;
      height: 100%;
    }

    &_image {
      width: 100%;
      height: 100%;
    }
  }

  .flippable_card__back {
    transform: rotateY(-180deg);
    padding: 0.938rem;
    font-size: 1.125rem;
    background-color: #d4b44f;
    color: #000;

    &_title {
      font-size: 1.5rem;
      padding-bottom: 0.8rem;
      border-bottom: 1px dotted #000;
    }

    &_text {
      padding: 0.5rem;
      padding-left: 0;
    }
  }

  .flippable_card__image-container {
    position: relative;

    .flippable_card__image {
      width: 100%;
      border-radius: 0.625rem;
    }
  }
}
